<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cooper.cooper">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cooper_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cooper_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity
            android:name=".Menu.PoolLists"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pool_lists"
            android:theme="@style/FullscreenTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Menu.CreateCoops_Act" />
        <activity android:name=".Menu.Coop_Detail_Act" />
        <activity android:name=".Menu.Invite_toPool" />
        <activity android:name=".Menu.ProfilePicture_Account_Activity"></activity>
    </application>

</manifest>